@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

h3{
    font-weight: 700;
    color: $main-color;
    text-shadow: 2px 2px 8px #DFE3E7;
}